DB_DSN =""
DB_USER =""
DB_PASSWORD = ""



POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_database

PGADMIN_DEFAULT_EMAIL=your_email@example.com
PGADMIN_DEFAULT_PASSWORD=your_password


MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=youness.doragon@gmail.com
MAIL_PASSWORD=ivpzqdzezxsrphqn
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=youness.doragon@gmail.com
MAIL_FROM_NAME="Your Name"


STRIPE_SECRET_KEY=s""
STRIPE_PUBLISHABLE_KEY=""

STRIPE_WEBHOOK_SECRET=""